.output__loading-screen {
	position: absolute
	width: 100%
	height: 100%
	background: $color__background
}

.output__loading-title {
	position: absolute
	top: 50%
	left: 50%
	transform: translate3d(-50%, -50%, 0)
	color: $color__text
}

.output__edit-label {
	position: absolute
	top: 0
	left: 25px
	width: 45px
	line-height: 50px
	color: $color__black
}

@import 'output__gif'
@import 'output__led'
@import 'output__servo'
@import 'output__code'
@import 'output__sound'
@import 'output__speech'
