.output__code {
	position: absolute
	width: 100%
	height: 100%
	background: $color__white
}

.output__code-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	height: 100%;
}

.button--open-makecode {
	font-family: $font;
	font-size: 14px;
	color: $color__white;
	background: $color__blue--shadow-bottom;
	border: 4px solid $color__blue--shadow-bottom;
	cursor: pointer;
	width: 100%;
	padding: 5px 0;
}

.button--open-makecode:disabled {
	opacity: 0.5;
}

.output__code .block-preview {
	display: flex;
}

.output__code .block-preview svg {
	font: 600 11pt "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
	fill: $color__white;
	width: 80%;
	height: fit-content;
}

.output__code .block-preview.block-preview-full svg {
	width: 100%;
}

.output__code-editor {
	display: flex;
	position: fixed;
	flex-direction: column;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 102;
}

.output__code-editor .top-bar {
	width: 100%;
	height: 3rem;
	background: $color__blue--shadow-bottom;
	text-align: start;
	display: flex;
	color: $color__white;
	font-family: $font;
	font-size: 16px;
}

.output__code-editor .top-bar.detected,
.output__code-editor .top-bar.detected button {
	color: $color__white;
}
.output__code-editor .top-bar.green {
	background: $color__class-green--shadow-bottom
}
.output__code-editor .top-bar.orange {
	background: $color__class-orange--shadow-left
}
.output__code-editor .top-bar.purple {
	background: $color__class-purple--shadow-bottom
}

.output__code-editor .top-bar button {
	font-family: $font;
	font-size: 16px;
	height: 100%;
	border: none;
	padding: 0 2em;
	cursor: pointer;
	color: $color__white;
	display: flex;
	width: max-content;
	align-items: center;
	background: transparent;
}

.output__code-editor .top-bar .status {
	height: 100%;
	flex-grow: 1;
	border: none;
	padding: 0 2em;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	display: flex;
}

.output__code-editor .top-bar .status p {
	margin: 0;
}

.output__code-editor .iframe-wrapper {
	display: flex;
	flex-grow: 1;
  	flex-direction: column;
	width: 100%
}

.output__code-editor iframe {
	border: none;
}

dialog {
	font-family: $font;
	font-size: 16px;
	gap: 1em;
}

dialog button {
	font-family: $font;
	font-size: 14px;
	border: 2px solid $color__black;
	background: $color__white;
	color: $color__black;
	display: none;
	margin-top: 1em;
	margin-left: auto;
    margin-right: 0;
	cursor: pointer;
}

dialog::backdrop {
  background-color: $color__black;
  opacity: 0.5;
}